In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/nianzhe/Desktop/DSO562 Fraud Analytics/Project2/applications data.csv')

In [3]:
l = ['record','ssn','firstname','lastname','address','zip5','dob','homephone']
for x in l:
    df[x] = df[x].astype(str)

In [4]:
df['zip5']=df['zip5'].apply(lambda x: '{0:0>5}'.format(x))

In [5]:
df.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
0,1,20160101,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,19070626,1797504115,0
1,2,20160101,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1
2,3,20160101,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,19070626,216537580,0
3,4,20160101,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0
4,5,20160101,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0

In [6]:
df['ssn'].replace('999999999',np.nan,inplace=True)
df['homephone'].replace('9999999999',np.nan,inplace=True)
df['address'].replace('123 MAIN ST',np.nan,inplace=True)
df['dob'].replace('19070626',np.nan,inplace=True)

In [7]:
df['ssn'] = df['ssn'].fillna(df['record'])
df['homephone'] = df['homephone'].fillna(df['record'])
df['address'] = df['address'].fillna(df['record'])
df['dob'] = df['dob'].fillna(df['record'])

In [8]:
df['appyear'] = (df['date'] / 10000).astype('int')
df['appmonth'] = ((df['date'] - df['appyear'] * 10000) / 100).astype('int')
df['appday'] = df['date'] - df['appyear'] * 10000 - df['appmonth'] * 100
df['date'] = pd.to_datetime(df.appyear*10000+df.appmonth*100+df.appday,format='%Y%m%d')
df = df.drop(columns = ['appyear','appmonth','appday'])

## 1. Build Entities

In [9]:
df['name'] = df['firstname'] + df['lastname']

In [10]:
coblist = ['ssn', 'dob', 'address', 'homephone' ,'name','zip5']

In [11]:
len(coblist)

6

In [12]:
for i in range(len(coblist)):
    for j in range(len(coblist)):
        if i<j:
            new_col = coblist[i]+'-'+coblist[j]
            df[new_col] = df[coblist[i]] + df[coblist[j]]

In [13]:
for i in range(len(coblist)):
    for j in range(len(coblist)):
        for k in range(len(coblist)):
            if i<j<k:
                new_col = coblist[i]+'-'+coblist[j] +'-'+coblist[k]
                df[new_col] = df[coblist[i]] + df[coblist[j]] +df[coblist[k]]

In [14]:
df['name-ssn-homephone-dob-address-zip5'] = df['name'] +df['ssn'] + df['homephone']+['dob']+df['address'] + df['zip5']
df['name-ssn-homephone-dob'] = df['name'] +df['ssn'] + df['homephone']+df['dob'] 
df['name-ssn-address-zip5'] = df['name'] +df['ssn'] + df['address']+df['zip5']

In [15]:
list(df.columns)

['record',
 'date',
 'ssn',
 'firstname',
 'lastname',
 'address',
 'zip5',
 'dob',
 'homephone',
 'fraud_label',
 'name',
 'ssn-dob',
 'ssn-address',
 'ssn-homephone',
 'ssn-name',
 'ssn-zip5',
 'dob-address',
 'dob-homephone',
 'dob-name',
 'dob-zip5',
 'address-homephone',
 'address-name',
 'address-zip5',
 'homephone-name',
 'homephone-zip5',
 'name-zip5',
 'ssn-dob-address',
 'ssn-dob-homephone',
 'ssn-dob-name',
 'ssn-dob-zip5',
 'ssn-address-homephone',
 'ssn-address-name',
 'ssn-address-zip5',
 'ssn-homephone-name',
 'ssn-homephone-zip5',
 'ssn-name-zip5',
 'dob-address-homephone',
 'dob-address-name',
 'dob-address-zip5',
 'dob-homephone-name',
 'dob-homephone-zip5',
 'dob-name-zip5',
 'address-homephone-name',
 'address-homephone-zip5',
 'address-name-zip5',
 'homephone-name-zip5',
 'name-ssn-homephone-dob-address-zip5',
 'name-ssn-homephone-dob',
 'name-ssn-address-zip5']

In [16]:
len(df.columns)

49

## 2. Attributes

In [17]:
attributes = list(df.columns)

In [18]:
attributes.remove('fraud_label')
attributes.remove('date')
attributes.remove('zip5')
attributes.remove('firstname')
attributes.remove('lastname')
attributes.remove('dob')
attributes.remove('record')

In [19]:
attributes

['ssn',
 'address',
 'homephone',
 'name',
 'ssn-dob',
 'ssn-address',
 'ssn-homephone',
 'ssn-name',
 'ssn-zip5',
 'dob-address',
 'dob-homephone',
 'dob-name',
 'dob-zip5',
 'address-homephone',
 'address-name',
 'address-zip5',
 'homephone-name',
 'homephone-zip5',
 'name-zip5',
 'ssn-dob-address',
 'ssn-dob-homephone',
 'ssn-dob-name',
 'ssn-dob-zip5',
 'ssn-address-homephone',
 'ssn-address-name',
 'ssn-address-zip5',
 'ssn-homephone-name',
 'ssn-homephone-zip5',
 'ssn-name-zip5',
 'dob-address-homephone',
 'dob-address-name',
 'dob-address-zip5',
 'dob-homephone-name',
 'dob-homephone-zip5',
 'dob-name-zip5',
 'address-homephone-name',
 'address-homephone-zip5',
 'address-name-zip5',
 'homephone-name-zip5',
 'name-ssn-homephone-dob-address-zip5',
 'name-ssn-homephone-dob',
 'name-ssn-address-zip5']

In [20]:
len(attributes)

42

In [21]:
df.tail()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,...,dob-homephone-name,dob-homephone-zip5,dob-name-zip5,address-homephone-name,address-homephone-zip5,address-name-zip5,homephone-name-zip5,name-ssn-homephone-dob-address-zip5,name-ssn-homephone-dob,name-ssn-address-zip5
999995,999996,2016-12-31,766104848,XUSAAURMZ,EJXXEXZX,8079 EJRUJ AVE,54890,19550418,8236558223,0,...,195504188236558223XUSAAURMZEJXXEXZX,19550418823655822354890,19550418XUSAAURMZEJXXEXZX54890,8079 EJRUJ AVE8236558223XUSAAURMZEJXXEXZX,8079 EJRUJ AVE823655822354890,8079 EJRUJ AVEXUSAAURMZEJXXEXZX54890,8236558223XUSAAURMZEJXXEXZX54890,XUSAAURMZEJXXEXZX7661048488236558223dob8079 EJ...,XUSAAURMZEJXXEXZX766104848823655822319550418,XUSAAURMZEJXXEXZX7661048488079 EJRUJ AVE54890
999996,999997,2016-12-31,445178058,SAAJJEMTX,UMAUETJX,4817 UMSXT AVE,74683,19150624,6790134432,0,...,191506246790134432SAAJJEMTXUMAUETJX,19150624679013443274683,19150624SAAJJEMTXUMAUETJX74683,4817 UMSXT AVE6790134432SAAJJEMTXUMAUETJX,4817 UMSXT AVE679013443274683,4817 UMSXT AVESAAJJEMTXUMAUETJX74683,6790134432SAAJJEMTXUMAUETJX74683,SAAJJEMTXUMAUETJX4451780586790134432dob4817 UM...,SAAJJEMTXUMAUETJX445178058679013443219150624,SAAJJEMTXUMAUETJX4451780584817 UMSXT AVE74683
999997,999998,2016-12-31,25283410,ESRXXRSUX,EUEJRJJE,7562 RJMAZ ST,86805,19880628,3997657622,0,...,198806283997657622ESRXXRSUXEUEJRJJE,19880628399765762286805,19880628ESRXXRSUXEUEJRJJE86805,7562 RJMAZ ST3997657622ESRXXRSUXEUEJRJJE,7562 RJMAZ ST399765762286805,7562 RJMAZ STESRXXRSUXEUEJRJJE86805,3997657622ESRXXRSUXEUEJRJJE86805,ESRXXRSUXEUEJRJJE252834103997657622dob7562 RJM...,ESRXXRSUXEUEJRJJE25283410399765762219880628,ESRXXRSUXEUEJRJJE252834107562 RJMAZ ST86805
999998,999999,2016-12-31,361232148,XXMZSRXMA,RSRSUJSS,3408 UZZAM WY,49183,20120302,5935293731,0,...,201203025935293731XXMZSRXMARSRSUJSS,20120302593529373149183,20120302XXMZSRXMARSRSUJSS49183,3408 UZZAM WY5935293731XXMZSRXMARSRSUJSS,3408 UZZAM WY593529373149183,3408 UZZAM WYXXMZSRXMARSRSUJSS49183,5935293731XXMZSRXMARSRSUJSS49183,XXMZSRXMARSRSUJSS3612321485935293731dob3408 UZ...,XXMZSRXMARSRSUJSS361232148593529373120120302,XXMZSRXMARSRSUJSS3612321483408 UZZAM WY49183
999999,1000000,2016-12-31,40027083,RXZXSMEZA,UTEAAZXU,112 UTTJT PL,39491,19820826,5869926905,0,...,198208265869926905RXZXSMEZAUTEAAZXU,19820826586992690539491,19820826RXZXSMEZAUTEAAZXU39491,112 UTTJT PL5869926905RXZXSMEZAUTEAAZXU,112 UTTJT PL586992690539491,112 UTTJT PLRXZXSMEZAUTEAAZXU39491,5869926905RXZXSMEZAUTEAAZXU39491,RXZXSMEZAUTEAAZXU400270835869926905dob112 UTTJ...,RXZXSMEZAUTEAAZXU40027083586992690519820826,RXZXSMEZAUTEAAZXU40027083112 UTTJT PL39491

## 3. Unique Counts

In [22]:
u = ['ssn', 'dob', 'name', 'homephone' ,'address-zip5']

In [23]:
unique = df[['record']].set_index('record').copy()

In [24]:
for i in range(len(u)):
    for j in range(len(u)):
        if i != j and i !=1:
            d1 = df[[u[i],'record']]
            d2 = df[[u[i],u[j],'record']]
            d1.record = d1.record.astype(int)
            d2.record = d2.record.astype(int)
            tempdf = pd.merge(d1,d2,left_on = u[i], right_on = u[i])
            tempdf = tempdf[tempdf['record_x'] >= tempdf['record_y']]
            tempunique = tempdf.groupby('record_x')[[u[j]]].nunique()
            tempunique.index = tempunique.index.rename('record')
            tempunique.index = tempunique.index.astype('str')
            tempunique.columns = [u[i]+'_unique_'+u[j]]
            unique = pd.merge(unique, tempunique, left_index = True, right_index = True)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [25]:
unique.head()

,ssn_unique_dob,ssn_unique_name,ssn_unique_homephone,ssn_unique_address-zip5,name_unique_ssn,name_unique_dob,name_unique_homephone,name_unique_address-zip5,homephone_unique_ssn,homephone_unique_dob,homephone_unique_name,homephone_unique_address-zip5,address-zip5_unique_ssn,address-zip5_unique_dob,address-zip5_unique_name,address-zip5_unique_homephone
record,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [26]:
unique.tail()

,ssn_unique_dob,ssn_unique_name,ssn_unique_homephone,ssn_unique_address-zip5,name_unique_ssn,name_unique_dob,name_unique_homephone,name_unique_address-zip5,homephone_unique_ssn,homephone_unique_dob,homephone_unique_name,homephone_unique_address-zip5,address-zip5_unique_ssn,address-zip5_unique_dob,address-zip5_unique_name,address-zip5_unique_homephone
record,,,,,,,,,,,,,,,,
999996,1,1,1,1,4,4,4,4,43,43,43,43,1,1,1,1
999997,1,1,1,1,1,1,1,1,50,53,50,50,1,1,1,1
999998,1,1,1,1,2,2,2,2,26,27,26,26,1,1,1,1
999999,1,1,1,1,1,1,1,1,55,55,55,55,1,1,1,1
1000000,1,1,1,1,1,1,1,1,51,55,52,52,1,1,1,1

## 4. For Loop for Pastdays

In [27]:
pastday = df[['record']].set_index('record').copy()

In [28]:
for entity in attributes:
    data1 = df[['record','date',entity]]
    data2 = df[['record','date',entity]]
    data1.record = data1.record.astype(int)
    data2.record = data2.record.astype(int)
    tempdf = pd.merge(data1,data2, left_on = entity, right_on = entity)
    tempdf = tempdf[tempdf['record_x'] > tempdf['record_y']]
    new_col = entity+'_' +'pastday'
    tempdf[new_col] = tempdf['date_x'] - tempdf['date_y']
    tempdf[new_col] = tempdf[new_col].astype('timedelta64[D]')
    tempday = tempdf.groupby('record_x').agg({new_col:'min'})
    tempday.index = tempday.index.rename('record')
    tempday.index = tempday.index.astype('str')
    pastday = pd.merge(pastday, tempday, left_index = True, right_index = True, how = 'left')

In [29]:
pastday = pastday.fillna(365)

In [30]:
pastday.head()

,ssn_pastday,address_pastday,homephone_pastday,name_pastday,ssn-dob_pastday,ssn-address_pastday,ssn-homephone_pastday,ssn-name_pastday,ssn-zip5_pastday,dob-address_pastday,...,dob-homephone-name_pastday,dob-homephone-zip5_pastday,dob-name-zip5_pastday,address-homephone-name_pastday,address-homephone-zip5_pastday,address-name-zip5_pastday,homephone-name-zip5_pastday,name-ssn-homephone-dob-address-zip5_pastday,name-ssn-homephone-dob_pastday,name-ssn-address-zip5_pastday
record,,,,,,,,,,,,,,,,,,,,,
1,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
2,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
3,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
4,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
5,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0

In [31]:
pastday.tail()

,ssn_pastday,address_pastday,homephone_pastday,name_pastday,ssn-dob_pastday,ssn-address_pastday,ssn-homephone_pastday,ssn-name_pastday,ssn-zip5_pastday,dob-address_pastday,...,dob-homephone-name_pastday,dob-homephone-zip5_pastday,dob-name-zip5_pastday,address-homephone-name_pastday,address-homephone-zip5_pastday,address-name-zip5_pastday,homephone-name-zip5_pastday,name-ssn-homephone-dob-address-zip5_pastday,name-ssn-homephone-dob_pastday,name-ssn-address-zip5_pastday
record,,,,,,,,,,,,,,,,,,,,,
999996,365.0,365.0,13.0,30.0,365.0,365.0,365.0,365.0,365.0,365.0,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
999997,365.0,365.0,0.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
999998,365.0,365.0,1.0,304.0,365.0,365.0,365.0,365.0,365.0,365.0,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
999999,365.0,365.0,2.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
1000000,47.0,47.0,6.0,47.0,47.0,47.0,47.0,47.0,47.0,47.0,...,47.0,47.0,47.0,47.0,47.0,47.0,47.0,47.0,47.0,47.0

## 5. Count Velocity

In [32]:
import datetime

In [33]:
finaldf = df[['record']].set_index('record').copy()

In [34]:
df['join_ts1'] = df['date']

In [35]:
for t in [0,1,3,7,30,90,180]:
    end_time = 'join_ts2_'+str(t)
    df[end_time] = df['date'] + datetime.timedelta(t)

In [36]:
for entity in attributes:
    data3 = df[['record','date', entity]]
    data4 = df[['join_ts1','join_ts2_0','join_ts2_1','join_ts2_3','join_ts2_7','join_ts2_30','join_ts2_90','join_ts2_180',entity,'record']]
    data3.record = data3.record.astype(int)
    data4.record = data4.record.astype(int)
    tempdf = pd.merge(data3,data4, left_on = entity, right_on = entity)
    for t in [0,1,3,7,30,90,180]:
        name_end_time = 'join_ts2_' + str(t)
        tempdf2 = tempdf[(tempdf['date'] >= tempdf['join_ts1']) & (tempdf['date'] <= tempdf[name_end_time])& (tempdf['record_x']>=tempdf['record_y'])]
        temp_name = str(entity) + '_' + 'count' + str(t) + '_'
        tempGroupby = tempdf2[['record_x','date']].groupby('record_x')
        tempGroupby = getattr(tempGroupby, 'count')().add_prefix(temp_name)
        tempGroupby.index = tempGroupby.index.rename('record')
        tempGroupby.index = tempGroupby.index.astype('str')
        finaldf = pd.merge(finaldf, tempGroupby,left_index = True, right_index = True, how = 'left')

In [37]:
finaldf.head()

,ssn_count0_date,ssn_count1_date,ssn_count3_date,ssn_count7_date,ssn_count30_date,ssn_count90_date,ssn_count180_date,address_count0_date,address_count1_date,address_count3_date,...,name-ssn-homephone-dob_count30_date,name-ssn-homephone-dob_count90_date,name-ssn-homephone-dob_count180_date,name-ssn-address-zip5_count0_date,name-ssn-address-zip5_count1_date,name-ssn-address-zip5_count3_date,name-ssn-address-zip5_count7_date,name-ssn-address-zip5_count30_date,name-ssn-address-zip5_count90_date,name-ssn-address-zip5_count180_date
record,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [38]:
finaldf['ssn_count0_date'].sum()

1007305

## 6. Relative Velocity

In [39]:
finaldf.loc[['966','1601']]

,ssn_count0_date,ssn_count1_date,ssn_count3_date,ssn_count7_date,ssn_count30_date,ssn_count90_date,ssn_count180_date,address_count0_date,address_count1_date,address_count3_date,...,name-ssn-homephone-dob_count30_date,name-ssn-homephone-dob_count90_date,name-ssn-homephone-dob_count180_date,name-ssn-address-zip5_count0_date,name-ssn-address-zip5_count1_date,name-ssn-address-zip5_count3_date,name-ssn-address-zip5_count7_date,name-ssn-address-zip5_count30_date,name-ssn-address-zip5_count90_date,name-ssn-address-zip5_count180_date
record,,,,,,,,,,,,,,,,,,,,,
966,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1601,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [40]:
days_numerator = ['0']
days_denominator = ['1','3','7','30','90','180']

In [41]:
for b in attributes:
    for c in days_numerator:
        for d in days_denominator:
            temp = d
            finaldf[b+'_'+c+'_'+'count'+d+'_'+'count_ratio'] =\
            finaldf[b+'_'+'count'+c+'_date']/finaldf[b+'_'+'count'+d+'_date'] /int(d)

In [42]:
finaldf.head()

,ssn_count0_date,ssn_count1_date,ssn_count3_date,ssn_count7_date,ssn_count30_date,ssn_count90_date,ssn_count180_date,address_count0_date,address_count1_date,address_count3_date,...,name-ssn-homephone-dob_0_count7_count_ratio,name-ssn-homephone-dob_0_count30_count_ratio,name-ssn-homephone-dob_0_count90_count_ratio,name-ssn-homephone-dob_0_count180_count_ratio,name-ssn-address-zip5_0_count1_count_ratio,name-ssn-address-zip5_0_count3_count_ratio,name-ssn-address-zip5_0_count7_count_ratio,name-ssn-address-zip5_0_count30_count_ratio,name-ssn-address-zip5_0_count90_count_ratio,name-ssn-address-zip5_0_count180_count_ratio
record,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,...,0.142857,0.033333,0.011111,0.005556,1.0,0.333333,0.142857,0.033333,0.011111,0.005556
2,1,1,1,1,1,1,1,1,1,1,...,0.142857,0.033333,0.011111,0.005556,1.0,0.333333,0.142857,0.033333,0.011111,0.005556
3,1,1,1,1,1,1,1,1,1,1,...,0.142857,0.033333,0.011111,0.005556,1.0,0.333333,0.142857,0.033333,0.011111,0.005556
4,1,1,1,1,1,1,1,1,1,1,...,0.142857,0.033333,0.011111,0.005556,1.0,0.333333,0.142857,0.033333,0.011111,0.005556
5,1,1,1,1,1,1,1,1,1,1,...,0.142857,0.033333,0.011111,0.005556,1.0,0.333333,0.142857,0.033333,0.011111,0.005556

In [43]:
final = pd.merge(finaldf, pastday, left_index = True, right_index = True)

In [44]:
final.head()

,ssn_count0_date,ssn_count1_date,ssn_count3_date,ssn_count7_date,ssn_count30_date,ssn_count90_date,ssn_count180_date,address_count0_date,address_count1_date,address_count3_date,...,dob-homephone-name_pastday,dob-homephone-zip5_pastday,dob-name-zip5_pastday,address-homephone-name_pastday,address-homephone-zip5_pastday,address-name-zip5_pastday,homephone-name-zip5_pastday,name-ssn-homephone-dob-address-zip5_pastday,name-ssn-homephone-dob_pastday,name-ssn-address-zip5_pastday
record,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
2,1,1,1,1,1,1,1,1,1,1,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
3,1,1,1,1,1,1,1,1,1,1,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
4,1,1,1,1,1,1,1,1,1,1,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0
5,1,1,1,1,1,1,1,1,1,1,...,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0,365.0

## 7. Group Risk

In [45]:
df.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,...,name-ssn-homephone-dob,name-ssn-address-zip5,join_ts1,join_ts2_0,join_ts2_1,join_ts2_3,join_ts2_7,join_ts2_30,join_ts2_90,join_ts2_180
0,1,2016-01-01,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,1,1797504115,0,...,XRRAMMTRSMJETJMJ37907001217975041151,XRRAMMTRSMJETJMJ3790700126861 EUTST PL02765,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29
1,2,2016-01-01,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1,...,MAMSTUJRRTTEMRRR387482503416423941519340615,MAMSTUJRRTTEMRRR3874825037280 URASA PL57169,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29
2,3,2016-01-01,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,3,216537580,0,...,SZMMUJEZSEUSEZRAE2003324442165375803,SZMMUJEZSEUSEZRAE2003324445581 RSREX LN56721,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29
3,4,2016-01-01,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0,...,SJJZSXRSZETJXTXXS74745131713214416119440430,SJJZSXRSZETJXTXXS7474513171387 UJZXJ RD35286,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29
4,5,2016-01-01,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0,...,SSSXUEJMSSSUUJXUZ24065868610108227219980315,SSSXUEJMSSSUUJXUZ24065868279 EAASA WY03173,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29

In [46]:
d = datetime.date(2016, 10, 31)
print(d)

2016-10-31

In [47]:
df['dayofweek']=df['date'].dt.dayofweek
day_week = df[['fraud_label','dayofweek','record']][df['date'] <= d].groupby(by='dayofweek').mean().reset_index()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

In [48]:
day_week

   dayofweek  fraud_label
0          0     0.013480
1          1     0.014070
2          2     0.015169
3          3     0.014981
4          4     0.014499
5          5     0.014968
6          6     0.013674

In [49]:
day_week.columns = ['dayofweek','day_week_risk']

In [50]:
df = pd.merge(df, day_week, left_on = 'dayofweek', right_on = 'dayofweek', how = 'left')

In [51]:
df.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,...,join_ts1,join_ts2_0,join_ts2_1,join_ts2_3,join_ts2_7,join_ts2_30,join_ts2_90,join_ts2_180,dayofweek,day_week_risk
0,1,2016-01-01,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,1,1797504115,0,...,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29,4,0.014499
1,2,2016-01-01,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1,...,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29,4,0.014499
2,3,2016-01-01,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,3,216537580,0,...,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29,4,0.014499
3,4,2016-01-01,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0,...,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29,4,0.014499
4,5,2016-01-01,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0,...,2016-01-01,2016-01-01,2016-01-02,2016-01-04,2016-01-08,2016-01-31,2016-03-31,2016-06-29,4,0.014499

In [52]:
grouprisk = df[['record','day_week_risk']].set_index('record').copy()

In [53]:
grouprisk.head(7)

        day_week_risk
record
1            0.014499
2            0.014499
3            0.014499
4            0.014499
5            0.014499
6            0.014499
7            0.014499

In [54]:
final = pd.merge(final, unique, left_index = True, right_index = True)

In [55]:
final = pd.merge(final, grouprisk, left_index = True, right_index = True)

In [56]:
final.head()

,ssn_count0_date,ssn_count1_date,ssn_count3_date,ssn_count7_date,ssn_count30_date,ssn_count90_date,ssn_count180_date,address_count0_date,address_count1_date,address_count3_date,...,name_unique_address-zip5,homephone_unique_ssn,homephone_unique_dob,homephone_unique_name,homephone_unique_address-zip5,address-zip5_unique_ssn,address-zip5_unique_dob,address-zip5_unique_name,address-zip5_unique_homephone,day_week_risk
record,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.014499
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.014499
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.014499
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.014499
5,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.014499

In [57]:
list(final.columns)

['ssn_count0_date',
 'ssn_count1_date',
 'ssn_count3_date',
 'ssn_count7_date',
 'ssn_count30_date',
 'ssn_count90_date',
 'ssn_count180_date',
 'address_count0_date',
 'address_count1_date',
 'address_count3_date',
 'address_count7_date',
 'address_count30_date',
 'address_count90_date',
 'address_count180_date',
 'homephone_count0_date',
 'homephone_count1_date',
 'homephone_count3_date',
 'homephone_count7_date',
 'homephone_count30_date',
 'homephone_count90_date',
 'homephone_count180_date',
 'name_count0_date',
 'name_count1_date',
 'name_count3_date',
 'name_count7_date',
 'name_count30_date',
 'name_count90_date',
 'name_count180_date',
 'ssn-dob_count0_date',
 'ssn-dob_count1_date',
 'ssn-dob_count3_date',
 'ssn-dob_count7_date',
 'ssn-dob_count30_date',
 'ssn-dob_count90_date',
 'ssn-dob_count180_date',
 'ssn-address_count0_date',
 'ssn-address_count1_date',
 'ssn-address_count3_date',
 'ssn-address_count7_date',
 'ssn-address_count30_date',
 'ssn-address_count90_date',
 'ssn-address_count180_date',
 'ssn-homephone_count0_date',
 'ssn-homephone_count1_date',
 'ssn-homephone_count3_date',
 'ssn-homephone_count7_date',
 'ssn-homephone_count30_date',
 'ssn-homephone_count90_date',
 'ssn-homephone_count180_date',
 'ssn-name_count0_date',
 'ssn-name_count1_date',
 'ssn-name_count3_date',
 'ssn-name_count7_date',
 'ssn-name_count30_date',
 'ssn-name_count90_date',
 'ssn-name_count180_date',
 'ssn-zip5_count0_date',
 'ssn-zip5_count1_date',
 'ssn-zip5_count3_date',
 'ssn-zip5_count7_date',
 'ssn-zip5_count30_date',
 'ssn-zip5_count90_date',
 'ssn-zip5_count180_date',
 'dob-address_count0_date',
 'dob-address_count1_date',
 'dob-address_count3_date',
 'dob-address_count7_date',
 'dob-address_count30_date',
 'dob-address_count90_date',
 'dob-address_count180_date',
 'dob-homephone_count0_date',
 'dob-homephone_count1_date',
 'dob-homephone_count3_date',
 'dob-homephone_count7_date',
 'dob-homephone_count30_date',
 'dob-homephone_count90_date',
 'dob-homephone_count180_date',
 'dob-name_count0_date',
 'dob-name_count1_date',
 'dob-name_count3_date',
 'dob-name_count7_date',
 'dob-name_count30_date',
 'dob-name_count90_date',
 'dob-name_count180_date',
 'dob-zip5_count0_date',
 'dob-zip5_count1_date',
 'dob-zip5_count3_date',
 'dob-zip5_count7_date',
 'dob-zip5_count30_date',
 'dob-zip5_count90_date',
 'dob-zip5_count180_date',
 'address-homephone_count0_date',
 'address-homephone_count1_date',
 'address-homephone_count3_date',
 'address-homephone_count7_date',
 'address-homephone_count30_date',
 'address-homephone_count90_date',
 'address-homephone_count180_date',
 'address-name_count0_date',
 'address-name_count1_date',
 'address-name_count3_date',
 'address-name_count7_date',
 'address-name_count30_date',
 'address-name_count90_date',
 'address-name_count180_date',
 'address-zip5_count0_date',
 'address-zip5_count1_date',
 'address-zip5_count3_date',
 'address-zip5_count7_date',
 'address-zip5_count30_date',
 'address-zip5_count90_date',
 'address-zip5_count180_date',
 'homephone-name_count0_date',
 'homephone-name_count1_date',
 'homephone-name_count3_date',
 'homephone-name_count7_date',
 'homephone-name_count30_date',
 'homephone-name_count90_date',
 'homephone-name_count180_date',
 'homephone-zip5_count0_date',
 'homephone-zip5_count1_date',
 'homephone-zip5_count3_date',
 'homephone-zip5_count7_date',
 'homephone-zip5_count30_date',
 'homephone-zip5_count90_date',
 'homephone-zip5_count180_date',
 'name-zip5_count0_date',
 'name-zip5_count1_date',
 'name-zip5_count3_date',
 'name-zip5_count7_date',
 'name-zip5_count30_date',
 'name-zip5_count90_date',
 'name-zip5_count180_date',
 'ssn-dob-address_count0_date',
 'ssn-dob-address_count1_date',
 'ssn-dob-address_count3_date',
 'ssn-dob-address_count7_date',
 'ssn-dob-address_count30_date',
 'ssn-dob-address_count90_date',
 'ssn-dob-address_count180_date',
 'ssn-dob-homephone_count0_date',
 'ssn-dob-homephone_count1_date',
 'ssn-dob-homephone_count3_date',
 'ssn-dob-homephone_count7_date',
 'ssn-dob-homephone_count30_date',
 'ssn-dob-homephone_count90_date',
 'ssn-dob-homephone_count180_date',
 'ssn-dob-name_count0_date',
 'ssn-dob-name_count1_date',
 'ssn-dob-name_count3_date',
 'ssn-dob-name_count7_date',
 'ssn-dob-name_count30_date',
 'ssn-dob-name_count90_date',
 'ssn-dob-name_count180_date',
 'ssn-dob-zip5_count0_date',
 'ssn-dob-zip5_count1_date',
 'ssn-dob-zip5_count3_date',
 'ssn-dob-zip5_count7_date',
 'ssn-dob-zip5_count30_date',
 'ssn-dob-zip5_count90_date',
 'ssn-dob-zip5_count180_date',
 'ssn-address-homephone_count0_date',
 'ssn-address-homephone_count1_date',
 'ssn-address-homephone_count3_date',
 'ssn-address-homephone_count7_date',
 'ssn-address-homephone_count30_date',
 'ssn-address-homephone_count90_date',
 'ssn-address-homephone_count180_date',
 'ssn-address-name_count0_date',
 'ssn-address-name_count1_date',
 'ssn-address-name_count3_date',
 'ssn-address-name_count7_date',
 'ssn-address-name_count30_date',
 'ssn-address-name_count90_date',
 'ssn-address-name_count180_date',
 'ssn-address-zip5_count0_date',
 'ssn-address-zip5_count1_date',
 'ssn-address-zip5_count3_date',
 'ssn-address-zip5_count7_date',
 'ssn-address-zip5_count30_date',
 'ssn-address-zip5_count90_date',
 'ssn-address-zip5_count180_date',
 'ssn-homephone-name_count0_date',
 'ssn-homephone-name_count1_date',
 'ssn-homephone-name_count3_date',
 'ssn-homephone-name_count7_date',
 'ssn-homephone-name_count30_date',
 'ssn-homephone-name_count90_date',
 'ssn-homephone-name_count180_date',
 'ssn-homephone-zip5_count0_date',
 'ssn-homephone-zip5_count1_date',
 'ssn-homephone-zip5_count3_date',
 'ssn-homephone-zip5_count7_date',
 'ssn-homephone-zip5_count30_date',
 'ssn-homephone-zip5_count90_date',
 'ssn-homephone-zip5_count180_date',
 'ssn-name-zip5_count0_date',
 'ssn-name-zip5_count1_date',
 'ssn-name-zip5_count3_date',
 'ssn-name-zip5_count7_date',
 'ssn-name-zip5_count30_date',
 'ssn-name-zip5_count90_date',
 'ssn-name-zip5_count180_date',
 'dob-address-homephone_count0_date',
 'dob-address-homephone_count1_date',
 'dob-address-homephone_count3_date',
 'dob-address-homephone_count7_date',
 'dob-address-homephone_count30_date',
 'dob-address-homephone_count90_date',
 'dob-address-homephone_count180_date',
 'dob-address-name_count0_date',
 'dob-address-name_count1_date',
 'dob-address-name_count3_date',
 'dob-address-name_count7_date',
 'dob-address-name_count30_date',
 'dob-address-name_count90_date',
 'dob-address-name_count180_date',
 'dob-address-zip5_count0_date',
 'dob-address-zip5_count1_date',
 'dob-address-zip5_count3_date',
 'dob-address-zip5_count7_date',
 'dob-address-zip5_count30_date',
 'dob-address-zip5_count90_date',
 'dob-address-zip5_count180_date',
 'dob-homephone-name_count0_date',
 'dob-homephone-name_count1_date',
 'dob-homephone-name_count3_date',
 'dob-homephone-name_count7_date',
 'dob-homephone-name_count30_date',
 'dob-homephone-name_count90_date',
 'dob-homephone-name_count180_date',
 'dob-homephone-zip5_count0_date',
 'dob-homephone-zip5_count1_date',
 'dob-homephone-zip5_count3_date',
 'dob-homephone-zip5_count7_date',
 'dob-homephone-zip5_count30_date',
 'dob-homephone-zip5_count90_date',
 'dob-homephone-zip5_count180_date',
 'dob-name-zip5_count0_date',
 'dob-name-zip5_count1_date',
 'dob-name-zip5_count3_date',
 'dob-name-zip5_count7_date',
 'dob-name-zip5_count30_date',
 'dob-name-zip5_count90_date',
 'dob-name-zip5_count180_date',
 'address-homephone-name_count0_date',
 'address-homephone-name_count1_date',
 'address-homephone-name_count3_date',
 'address-homephone-name_count7_date',
 'address-homephone-name_count30_date',
 'address-homephone-name_count90_date',
 'address-homephone-name_count180_date',
 'address-homephone-zip5_count0_date',
 'address-homephone-zip5_count1_date',
 'address-homephone-zip5_count3_date',
 'address-homephone-zip5_count7_date',
 'address-homephone-zip5_count30_date',
 'address-homephone-zip5_count90_date',
 'address-homephone-zip5_count180_date',
 'address-name-zip5_count0_date',
 'address-name-zip5_count1_date',
 'address-name-zip5_count3_date',
 'address-name-zip5_count7_date',
 'address-name-zip5_count30_date',
 'address-name-zip5_count90_date',
 'address-name-zip5_count180_date',
 'homephone-name-zip5_count0_date',
 'homephone-name-zip5_count1_date',
 'homephone-name-zip5_count3_date',
 'homephone-name-zip5_count7_date',
 'homephone-name-zip5_count30_date',
 'homephone-name-zip5_count90_date',
 'homephone-name-zip5_count180_date',
 'name-ssn-homephone-dob-address-zip5_count0_date',
 'name-ssn-homephone-dob-address-zip5_count1_date',
 'name-ssn-homephone-dob-address-zip5_count3_date',
 'name-ssn-homephone-dob-address-zip5_count7_date',
 'name-ssn-homephone-dob-address-zip5_count30_date',
 'name-ssn-homephone-dob-address-zip5_count90_date',
 'name-ssn-homephone-dob-address-zip5_count180_date',
 'name-ssn-homephone-dob_count0_date',
 'name-ssn-homephone-dob_count1_date',
 'name-ssn-homephone-dob_count3_date',
 'name-ssn-homephone-dob_count7_date',
 'name-ssn-homephone-dob_count30_date',
 'name-ssn-homephone-dob_count90_date',
 'name-ssn-homephone-dob_count180_date',
 'name-ssn-address-zip5_count0_date',
 'name-ssn-address-zip5_count1_date',
 'name-ssn-address-zip5_count3_date',
 'name-ssn-address-zip5_count7_date',
 'name-ssn-address-zip5_count30_date',
 'name-ssn-address-zip5_count90_date',
 'name-ssn-address-zip5_count180_date',
 'ssn_0_count1_count_ratio',
 'ssn_0_count3_count_ratio',
 'ssn_0_count7_count_ratio',
 'ssn_0_count30_count_ratio',
 'ssn_0_count90_count_ratio',
 'ssn_0_count180_count_ratio',
 'address_0_count1_count_ratio',
 'address_0_count3_count_ratio',
 'address_0_count7_count_ratio',
 'address_0_count30_count_ratio',
 'address_0_count90_count_ratio',
 'address_0_count180_count_ratio',
 'homephone_0_count1_count_ratio',
 'homephone_0_count3_count_ratio',
 'homephone_0_count7_count_ratio',
 'homephone_0_count30_count_ratio',
 'homephone_0_count90_count_ratio',
 'homephone_0_count180_count_ratio',
 'name_0_count1_count_ratio',
 'name_0_count3_count_ratio',
 'name_0_count7_count_ratio',
 'name_0_count30_count_ratio',
 'name_0_count90_count_ratio',
 'name_0_count180_count_ratio',
 'ssn-dob_0_count1_count_ratio',
 'ssn-dob_0_count3_count_ratio',
 'ssn-dob_0_count7_count_ratio',
 'ssn-dob_0_count30_count_ratio',
 'ssn-dob_0_count90_count_ratio',
 'ssn-dob_0_count180_count_ratio',
 'ssn-address_0_count1_count_ratio',
 'ssn-address_0_count3_count_ratio',
 'ssn-address_0_count7_count_ratio',
 'ssn-address_0_count30_count_ratio',
 'ssn-address_0_count90_count_ratio',
 'ssn-address_0_count180_count_ratio',
 'ssn-homephone_0_count1_count_ratio',
 'ssn-homephone_0_count3_count_ratio',
 'ssn-homephone_0_count7_count_ratio',
 'ssn-homephone_0_count30_count_ratio',
 'ssn-homephone_0_count90_count_ratio',
 'ssn-homephone_0_count180_count_ratio',
 'ssn-name_0_count1_count_ratio',
 'ssn-name_0_count3_count_ratio',
 'ssn-name_0_count7_count_ratio',
 'ssn-name_0_count30_count_ratio',
 'ssn-name_0_count90_count_ratio',
 'ssn-name_0_count180_count_ratio',
 'ssn-zip5_0_count1_count_ratio',
 'ssn-zip5_0_count3_count_ratio',
 'ssn-zip5_0_count7_count_ratio',
 'ssn-zip5_0_count30_count_ratio',
 'ssn-zip5_0_count90_count_ratio',
 'ssn-zip5_0_count180_count_ratio',
 'dob-address_0_count1_count_ratio',
 'dob-address_0_count3_count_ratio',
 'dob-address_0_count7_count_ratio',
 'dob-address_0_count30_count_ratio',
 'dob-address_0_count90_count_ratio',
 'dob-address_0_count180_count_ratio',
 'dob-homephone_0_count1_count_ratio',
 'dob-homephone_0_count3_count_ratio',
 'dob-homephone_0_count7_count_ratio',
 'dob-homephone_0_count30_count_ratio',
 'dob-homephone_0_count90_count_ratio',
 'dob-homephone_0_count180_count_ratio',
 'dob-name_0_count1_count_ratio',
 'dob-name_0_count3_count_ratio',
 'dob-name_0_count7_count_ratio',
 'dob-name_0_count30_count_ratio',
 'dob-name_0_count90_count_ratio',
 'dob-name_0_count180_count_ratio',
 'dob-zip5_0_count1_count_ratio',
 'dob-zip5_0_count3_count_ratio',
 'dob-zip5_0_count7_count_ratio',
 'dob-zip5_0_count30_count_ratio',
 'dob-zip5_0_count90_count_ratio',
 'dob-zip5_0_count180_count_ratio',
 'address-homephone_0_count1_count_ratio',
 'address-homephone_0_count3_count_ratio',
 'address-homephone_0_count7_count_ratio',
 'address-homephone_0_count30_count_ratio',
 'address-homephone_0_count90_count_ratio',
 'address-homephone_0_count180_count_ratio',
 'address-name_0_count1_count_ratio',
 'address-name_0_count3_count_ratio',
 'address-name_0_count7_count_ratio',
 'address-name_0_count30_count_ratio',
 'address-name_0_count90_count_ratio',
 'address-name_0_count180_count_ratio',
 'address-zip5_0_count1_count_ratio',
 'address-zip5_0_count3_count_ratio',
 'address-zip5_0_count7_count_ratio',
 'address-zip5_0_count30_count_ratio',
 'address-zip5_0_count90_count_ratio',
 'address-zip5_0_count180_count_ratio',
 'homephone-name_0_count1_count_ratio',
 'homephone-name_0_count3_count_ratio',
 'homephone-name_0_count7_count_ratio',
 'homephone-name_0_count30_count_ratio',
 'homephone-name_0_count90_count_ratio',
 'homephone-name_0_count180_count_ratio',
 'homephone-zip5_0_count1_count_ratio',
 'homephone-zip5_0_count3_count_ratio',
 'homephone-zip5_0_count7_count_ratio',
 'homephone-zip5_0_count30_count_ratio',
 'homephone-zip5_0_count90_count_ratio',
 'homephone-zip5_0_count180_count_ratio',
 'name-zip5_0_count1_count_ratio',
 'name-zip5_0_count3_count_ratio',
 'name-zip5_0_count7_count_ratio',
 'name-zip5_0_count30_count_ratio',
 'name-zip5_0_count90_count_ratio',
 'name-zip5_0_count180_count_ratio',
 'ssn-dob-address_0_count1_count_ratio',
 'ssn-dob-address_0_count3_count_ratio',
 'ssn-dob-address_0_count7_count_ratio',
 'ssn-dob-address_0_count30_count_ratio',
 'ssn-dob-address_0_count90_count_ratio',
 'ssn-dob-address_0_count180_count_ratio',
 'ssn-dob-homephone_0_count1_count_ratio',
 'ssn-dob-homephone_0_count3_count_ratio',
 'ssn-dob-homephone_0_count7_count_ratio',
 'ssn-dob-homephone_0_count30_count_ratio',
 'ssn-dob-homephone_0_count90_count_ratio',
 'ssn-dob-homephone_0_count180_count_ratio',
 'ssn-dob-name_0_count1_count_ratio',
 'ssn-dob-name_0_count3_count_ratio',
 'ssn-dob-name_0_count7_count_ratio',
 'ssn-dob-name_0_count30_count_ratio',
 'ssn-dob-name_0_count90_count_ratio',
 'ssn-dob-name_0_count180_count_ratio',
 'ssn-dob-zip5_0_count1_count_ratio',
 'ssn-dob-zip5_0_count3_count_ratio',
 'ssn-dob-zip5_0_count7_count_ratio',
 'ssn-dob-zip5_0_count30_count_ratio',
 'ssn-dob-zip5_0_count90_count_ratio',
 'ssn-dob-zip5_0_count180_count_ratio',
 'ssn-address-homephone_0_count1_count_ratio',
 'ssn-address-homephone_0_count3_count_ratio',
 'ssn-address-homephone_0_count7_count_ratio',
 'ssn-address-homephone_0_count30_count_ratio',
 'ssn-address-homephone_0_count90_count_ratio',
 'ssn-address-homephone_0_count180_count_ratio',
 'ssn-address-name_0_count1_count_ratio',
 'ssn-address-name_0_count3_count_ratio',
 'ssn-address-name_0_count7_count_ratio',
 'ssn-address-name_0_count30_count_ratio',
 'ssn-address-name_0_count90_count_ratio',
 'ssn-address-name_0_count180_count_ratio',
 'ssn-address-zip5_0_count1_count_ratio',
 'ssn-address-zip5_0_count3_count_ratio',
 'ssn-address-zip5_0_count7_count_ratio',
 'ssn-address-zip5_0_count30_count_ratio',
 'ssn-address-zip5_0_count90_count_ratio',
 'ssn-address-zip5_0_count180_count_ratio',
 'ssn-homephone-name_0_count1_count_ratio',
 'ssn-homephone-name_0_count3_count_ratio',
 'ssn-homephone-name_0_count7_count_ratio',
 'ssn-homephone-name_0_count30_count_ratio',
 'ssn-homephone-name_0_count90_count_ratio',
 'ssn-homephone-name_0_count180_count_ratio',
 'ssn-homephone-zip5_0_count1_count_ratio',
 'ssn-homephone-zip5_0_count3_count_ratio',
 'ssn-homephone-zip5_0_count7_count_ratio',
 'ssn-homephone-zip5_0_count30_count_ratio',
 'ssn-homephone-zip5_0_count90_count_ratio',
 'ssn-homephone-zip5_0_count180_count_ratio',
 'ssn-name-zip5_0_count1_count_ratio',
 'ssn-name-zip5_0_count3_count_ratio',
 'ssn-name-zip5_0_count7_count_ratio',
 'ssn-name-zip5_0_count30_count_ratio',
 'ssn-name-zip5_0_count90_count_ratio',
 'ssn-name-zip5_0_count180_count_ratio',
 'dob-address-homephone_0_count1_count_ratio',
 'dob-address-homephone_0_count3_count_ratio',
 'dob-address-homephone_0_count7_count_ratio',
 'dob-address-homephone_0_count30_count_ratio',
 'dob-address-homephone_0_count90_count_ratio',
 'dob-address-homephone_0_count180_count_ratio',
 'dob-address-name_0_count1_count_ratio',
 'dob-address-name_0_count3_count_ratio',
 'dob-address-name_0_count7_count_ratio',
 'dob-address-name_0_count30_count_ratio',
 'dob-address-name_0_count90_count_ratio',
 'dob-address-name_0_count180_count_ratio',
 'dob-address-zip5_0_count1_count_ratio',
 'dob-address-zip5_0_count3_count_ratio',
 'dob-address-zip5_0_count7_count_ratio',
 'dob-address-zip5_0_count30_count_ratio',
 'dob-address-zip5_0_count90_count_ratio',
 'dob-address-zip5_0_count180_count_ratio',
 'dob-homephone-name_0_count1_count_ratio',
 'dob-homephone-name_0_count3_count_ratio',
 'dob-homephone-name_0_count7_count_ratio',
 'dob-homephone-name_0_count30_count_ratio',
 'dob-homephone-name_0_count90_count_ratio',
 'dob-homephone-name_0_count180_count_ratio',
 'dob-homephone-zip5_0_count1_count_ratio',
 'dob-homephone-zip5_0_count3_count_ratio',
 'dob-homephone-zip5_0_count7_count_ratio',
 'dob-homephone-zip5_0_count30_count_ratio',
 'dob-homephone-zip5_0_count90_count_ratio',
 'dob-homephone-zip5_0_count180_count_ratio',
 'dob-name-zip5_0_count1_count_ratio',
 'dob-name-zip5_0_count3_count_ratio',
 'dob-name-zip5_0_count7_count_ratio',
 'dob-name-zip5_0_count30_count_ratio',
 'dob-name-zip5_0_count90_count_ratio',
 'dob-name-zip5_0_count180_count_ratio',
 'address-homephone-name_0_count1_count_ratio',
 'address-homephone-name_0_count3_count_ratio',
 'address-homephone-name_0_count7_count_ratio',
 'address-homephone-name_0_count30_count_ratio',
 'address-homephone-name_0_count90_count_ratio',
 'address-homephone-name_0_count180_count_ratio',
 'address-homephone-zip5_0_count1_count_ratio',
 'address-homephone-zip5_0_count3_count_ratio',
 'address-homephone-zip5_0_count7_count_ratio',
 'address-homephone-zip5_0_count30_count_ratio',
 'address-homephone-zip5_0_count90_count_ratio',
 'address-homephone-zip5_0_count180_count_ratio',
 'address-name-zip5_0_count1_count_ratio',
 'address-name-zip5_0_count3_count_ratio',
 'address-name-zip5_0_count7_count_ratio',
 'address-name-zip5_0_count30_count_ratio',
 'address-name-zip5_0_count90_count_ratio',
 'address-name-zip5_0_count180_count_ratio',
 'homephone-name-zip5_0_count1_count_ratio',
 'homephone-name-zip5_0_count3_count_ratio',
 'homephone-name-zip5_0_count7_count_ratio',
 'homephone-name-zip5_0_count30_count_ratio',
 'homephone-name-zip5_0_count90_count_ratio',
 'homephone-name-zip5_0_count180_count_ratio',
 'name-ssn-homephone-dob-address-zip5_0_count1_count_ratio',
 'name-ssn-homephone-dob-address-zip5_0_count3_count_ratio',
 'name-ssn-homephone-dob-address-zip5_0_count7_count_ratio',
 'name-ssn-homephone-dob-address-zip5_0_count30_count_ratio',
 'name-ssn-homephone-dob-address-zip5_0_count90_count_ratio',
 'name-ssn-homephone-dob-address-zip5_0_count180_count_ratio',
 'name-ssn-homephone-dob_0_count1_count_ratio',
 'name-ssn-homephone-dob_0_count3_count_ratio',
 'name-ssn-homephone-dob_0_count7_count_ratio',
 'name-ssn-homephone-dob_0_count30_count_ratio',
 'name-ssn-homephone-dob_0_count90_count_ratio',
 'name-ssn-homephone-dob_0_count180_count_ratio',
 'name-ssn-address-zip5_0_count1_count_ratio',
 'name-ssn-address-zip5_0_count3_count_ratio',
 'name-ssn-address-zip5_0_count7_count_ratio',
 'name-ssn-address-zip5_0_count30_count_ratio',
 'name-ssn-address-zip5_0_count90_count_ratio',
 'name-ssn-address-zip5_0_count180_count_ratio',
 'ssn_pastday',
 'address_pastday',
 'homephone_pastday',
 'name_pastday',
 'ssn-dob_pastday',
 'ssn-address_pastday',
 'ssn-homephone_pastday',
 'ssn-name_pastday',
 'ssn-zip5_pastday',
 'dob-address_pastday',

In [58]:
result = final.describe()

In [59]:
result.to_excel('HW5_description_3.xlsx')

In [60]:
final.to_csv('Variables.csv')